body{
    font-family: Poppins;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/*Main Page Description*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.container h2{
    padding-top: 100px;
    font-size: 40px;
}

.container p{
    padding-top: 10px;
}

/*Navbar*/

ul{
    margin: 0;
    padding: 0;
}


header{
    background-image: linear-gradient(to right, #2e3047,#43455c,#707793);
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #2e3047 3px solid;
}

header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}



/*Navbar Horizontal Aligning*/
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

/*Navbar Aligning to Right Side */
header #title{
    float: left;
}

header #title h1{
    margin: 0;
    
}

header nav{
    float:right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #e8491d;
}

header a:hover{
    color: #e8491d;
}

/*Show Case */
#desc{
    min-height: 600px;
    background:url(images/The-1975\ copy.jpg) no-repeat 0 -100px;
    text-align:center;
    color: #fff;
    border-bottom: #2e3047 3px solid;

}

#desc h2{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#desc h2{
    animation: opening 500ms ease-in-out;
}

#desc p{
    font-size: 20px;
}

#desc p:not(.container) {
    font-weight: bold 100;
}


/*Main Page Information Boxes*/

#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img{
    width: 100px;
}

#boxes h3:nth-child(-n + 3) {
    border: 2px solid #2e3047;
}

#boxes p > :not(strong, b.important) {
    color: #2e3047;
}


/*Blog Page*/
.blogs-container{
    display: flex;
    align-items:left;
    flex-direction: row;
    margin: 20px 0px;
    flex-wrap: wrap;
    animation-duration: 3s;
    margin-left: 200px;
    box-shadow:#272727;
}

.blogs-box{
    width: 350px;
    background-color: white;
    border:1px solid black;
    margin: 20px;
}

.blogs-box p:before {
	content: ">";
	color: #2e3047;
	font-size: 1rem;
	margin-right: .5rem;
}

.blogs-img{
    width: 100%;
    height: auto;
}
.blogs-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blogs-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

time{
    color: grey;
    font-size: 0.9rem;
}

.blogs-text .blogs-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}

.blogs-text .blogs-title:hover{
    color: red;
    transition: all ease 0.3s ;
}

.blogs-text p{
    color: grey;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.blogs-text a{
    color: black;
}

.blogs-text a:hover{
    color:  #e8491d;
    transition: all ease 0.3s;
}

/*Newsletter Page*/
/*Newsletter Send Button*/

.button1{
    border-radius: 25px;
    border: 2px solid #e8491d;
    height: 38px;
    background: #e8491d;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}   

/*Registration form*/
#form{
    padding-top: 600px;
    background-color: rgba(46,48,71,.5);
}
.registration-form{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 350px;
}

.registration-form h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
    color: #fff;
}

.registration-form p{
    color: #fff;
}

.registration-form input{
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline: none;
}

.registration-form input:valid{
        background-color: ivory;
        border: none;
        outline: 2px solid green;
        border-radius: 5px;
}

text{
    padding-bottom: 10px;
}

/*footer*/

footer{
    margin-top: 2px;
    padding: 20px;
    color: #fff;
    background-color: #43455c;
    text-align: center;
}

/*Animations*/

@keyframes opening{
    0%{rotate: 0deg;}
    30%{rotate: 25deg;}
    60%{rotate: -25deg;}
    100%{rotate:0deg;}
}

/*Responsiveness*/
@media(max-width: 768px)  {
    header #title,
    header nav,
    header nav li,
    #boxes .box,
    #desc{
        float: none;
        text-align: center;
        width: 100%;
    }

    .registration-form h2{
        font-size: 30px;
        padding: none;
        margin: none;
    }

    header{
        padding-bottom: 20px;
    }

    #desc h1{
        margin-top: 40px;
    }

    .blogs-container{
        margin-left: 60px;
        align-items: center;
    }
    #form input[type="mail"]{
        width: 100%;
        margin-bottom: 5px;
    }
}